{{ define "content" }}
<!-- Sidebar -->
<aside class="sidebar" id="sidebar">
	<div class="sidebar-contents-container">
		<div class="chat-selection-container">
			<div class="sidebar-header-container">
				<a
					href="#"
					hx-post="/chat"
					hx-target="#chat-list, #messages, #fixed-bottom-container"
					hx-swap="beforeend"
				>
					<h2>+New Chat</h2>
				</a>
			</div>
			<ul
				id="chat-list"
				class="chat-list"
				hx-get="/user/chats"
				hx-trigger="load"
				hx-target="this"
				hx-swap="innerHTML"
			>
				>
				<!-- Chat items will be loaded here -->
			</ul>
		</div>
		<div class="toggle-theme-container">
			<label for="toggle-theme" id="toggle-theme-label">Light Mode</label>
			<input type="checkbox" role="switch" id="toggle-theme" />
		</div>
	</div>
</aside>

<!-- Main Chat Window -->
<main class="chat-container">
	<div id="messages" class="chat-messages" data-chat-id="">
		<!-- Messages will be loaded here -->
	</div>

	<!-- Fixed bottom container for input form -->
	<div id="fixed-bottom-container" class="fixed-bottom-container">
		<!-- Input Form -->
	</div>
</main>
{{ end }} {{ define "index.html" }} {{ template "base" . }} {{ end }}
