<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GoChat</title>
		<link
			href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
			rel="stylesheet"
			type="text/css"
		/>
		<link rel="stylesheet" href="/static/css/normalize.css" />
		<link rel="stylesheet" href="/static/css/skeleton.css" />
		<link rel="icon" type="image/png" href="/static/assets/Phi_lc.svg" />
		<link rel="stylesheet" href="/static/css/prism-atom-dark.css" />
	</head>
	<body>
		<div style="display: flex; padding: 5vh">
			<!-- Sidebar -->
			<aside
				class="sidebar"
				style="flex: 1; overflow: auto; height: 96vh"
			>
				<div style="overflow-y: auto; max-height: calc(100vh - 50px)">
					<div style="margin-bottom: 1rem; font-size: 2rem">
						<a href="#" id="create-new-chat">+New Chat</a>
					</div>
					<ul id="chat-list">
						<!-- Chat items will be appended here -->
					</ul>
				</div>
			</aside>

			<!-- Main Chat Window -->
			<main
				style="
					flex: 7;
					overflow: auto;
					display: flex;
					flex-direction: column;
					position: relative;
				"
			>
				<div id="messages" class="chat-messages">
					<!-- Messages will be appended here -->
				</div>
				<div class="fixed-bottom-container">
					<form method="post" class="input-form">
						<input type="hidden" id="chat-id" name="chat_id" />
						<textarea
							id="message-input"
							name="chat-input"
							class="chat-input"
							placeholder="Type your message here. Press `cmd` or `cntrl` + `enter` to send..."
						></textarea>
						<button id="send-message-btn" type="submit">
							Send
						</button>
					</form>
				</div>
			</main>
		</div>
		<script src="/static/js/scripts.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>
	</body>
</html>
